<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :author_id, :value => current_user.id %>

  <div class="field">
    <%= f.text_field :title, :placeholder => "Title" %> <br/>
  </div>
  <div class="field">
    <%= f.text_area :text, :class => "picco_blog_editor" %> <br/>
  </div>
  <div class="field">
    <%= f.text_area :excerpt, :class => "picco_blog_editor" %> <br/>
  </div>
  <div class="field">
    <%= f.select :state, PiccoBlog::Post.states.keys.to_a, { include_blank: "Select" } %>
  </div>
  <% if PiccoBlog.members_only %>
    <div class="field">
      <%= f.check_box :members_only %>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_field :tag_list %> <br/>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
  var available_tags = <%= @available_tags %>
</script>